/exemple
/exemple/*

/.venv
/.venv/*

**/__pycache__
profil.json
.claude/*
.claude-flow/*
lib/ui/GUI/resources/logo.dark.png
418.tab/Export.panel/BatchExport.pushbutton/BatchExport_debug.log
cherrypick.md
*/*.json
